body {
    background-color: lightgray;
    background-image: none;
}

header {
    text-align: center;
    margin-bottom: 5px;
}

#table {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

#noCom {
    font-size: 30px;
}

